/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/CardsOrders/styled.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.styled_containerCard__XnFqZ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  padding: 20px 10px;
  margin-bottom: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.styled_containerCard__XnFqZ h2 {
  font-size: 2rem;
  margin: 0;
  min-height: 40px;
}

.styled_text__GcMyk {
  width: 100%;
  height: 100%;

  font-size: 1.6rem;
  margin: 0;
  min-height: 40px;

  display: flex;
  align-content: center;
  justify-content: start;
}

.styled_containerActions__YDNDc {
  display: flex;
  gap: 20px;
}

.styled_btn__OI0su {
  background: none;
  color: white;
  background: black;

  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;

  cursor: pointer;

  transition: all 0.3s;
}

.styled_btn__OI0su p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.styled_btnDel__PO8Sf :hover {
  background: red;
}

.styled_btnAdd__0lCDc:hover {
  background: blue;
}

.styled_btnLess__gbXaP:hover {
  background: orangered;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/CarPage/styled.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.styled_containerPage__F_H7r {
  background: white;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 2.5%;
}
.styled_btnBuy__ZtPXU {
  width: 100%;
  background: green;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2.4rem;
}

.styled_btnBuy__ZtPXU:hover {
  background: black;
}

