/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/Header/styled.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.styled_containerHeader__MNzB9 {
  width: 95%;
  aspect-ratio: 4/1.4;
  min-height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 10px solid white;
  margin: auto;
}

.styled_picture__S4k2L {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.styled_img__Zzki0 {
  width: 100%;
  height: auto;
}

.styled_text__2Zz7_ {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.styled_imgLogo__PDWeG {
  height: 80%;
  width: auto;
}

