/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/NewsPageComponent/styled.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.styled_containerNewsPage__5eBX_ {
  width: 95%;
  margin: auto;

  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0 0 10px 1px;
}

