/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/Shop/styled.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.styled_gridContainer__MqEdr {
  width: 95%;
  height: auto;

  margin: auto;

  grid-gap: 30px;

  gap: 30px;

  display: grid;
  grid-template-columns: auto auto auto auto;
}

