/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/AboutPage/styled.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.styled_aboutContainer__7F7xU {
  width: 95%;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;

  border-radius: 10px;

  padding: 40px 0;
}

.styled_titleAbout___AP9w {
  font-size: 3rem;
  color: #504741;

  margin: 40px 0;
}

.styled_picture__tpTMu {
  min-height: 200px;
  max-height: 350px;

  margin: 40px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.styled_img__uNpil {
  width: 100%;
  height: auto;
}

.styled_text__Eo_cg {
  padding: 0 5%;
  font-size: 2rem;
  color: #696e6f;
}

.styled_containerImportant__Lt2DD {
  width: 90%;
  padding: 0 5%;
  border-top: #696e6f 1px solid;
  border-bottom: 1px #696e6f solid;

  margin: 40px auto;
}

.styled_importanTextPrincipal__mIKUc {
  width: 80%;
  margin: auto;
  padding: 5%;
  border-left: #d6dbdb solid 1px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.styled_lessMargin__zA7k0 {
  margin: 0;
}

.styled_personSubTitle__UCpvd {
  color: #696e6f;
  font-size: 1.6rem;
}

