/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/WrapperApp/styled.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styled_wrapper__ItmSH {
  background-image: url(/_next/static/media/back.52b5fdd5.jpeg);
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  height: auto;
  padding: 20px 0 20px 0;
}

