/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/app/shop/product/[id]/styled.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styled_img__MxrIP {
  width: 100%;
  height: auto;
}

.styled_containerPage__8Ho8O {
  width: 95%;
  background: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.styled_containerPage__8Ho8O picture {
  min-height: 300px;
  width: 100%;
  overflow: auto;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.styled_text__Yop71 {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.styled_text__Yop71 h1 {
  font-size: 4rem;
  -webkit-text-decoration: underline brown;
          text-decoration: underline brown;
}

.styled_text__Yop71 p {
  text-align: start;
  font-size: 2rem;
}

.styled_btn__j_Yre {
  width: 100%;
  background: black;
  color: white;

  font-size: 2rem;

  transition: all 0.3s;
}

.styled_btn__j_Yre:hover {
  background: gold;
}

