/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/ProductItem/styled.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.styled_cardContainer__fqo2S {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.styled_picture__v9ghZ {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.styled_img__3sxVr {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.styled_cardContainer__fqo2S:hover .styled_img__3sxVr {
  transform: scale(1.2);
}

.styled_titleProduct__ija_q {
  color: rgb(80, 71, 65);
  font-size: 2rem;
}

.styled_text__BP0fW {
  font-size: 1.6rem;
  color: rgb(80, 71, 65);
}

.styled_button__uuQIb {
  width: 100%;
  height: auto;
  padding: 10px;

  background: none;
  border: rgb(197, 196, 196) 1px solid;

  transition: all 0.3s;

  cursor: pointer;

  color: black;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;

  font-size: 1.2rem;
}

.styled_button__uuQIb:hover {
  transform: translateY(-5px);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./src/components/ProductsSide/styled.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.styled_productSide__85fr4 {
  grid-column: 1/4;
  width: 100%;
  height: auto;
  background: white;

  border-radius: 5px;
  padding: 0 5%;
}

.styled_titleProduct__zFju9 {
  font-size: 2.6rem;
  color: #504741;
  margin: 20px 0;
}

.styled_containerProducts__JNv53 {
  width: 100%;
  grid-gap: 20px;
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

@media (max-width: 1200px) {
  .styled_productSide__85fr4 {
    grid-column: 1/5;
  }
}

